/*@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);*/

body {
  font-family: 'Cutive Mono', monospace;
  margin: 0 auto;
  max-width: 1248px;
  -webkit-font-smoothing: antialiased;
}

